body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

h2 {
    color: #007bff;
    margin-top: 25px;
    margin-bottom: 15px;
    border-left: 5px solid #007bff;
    padding-left: 10px;
}


.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.botones-contenedor {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 30px;
}

.botonGuardar {
    display: block;
    width: 50%;
    padding: 15px;
    background-color: #28a745; 
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}

.botonVerPerfiles {
    width: 50%;
    padding: 15px;
    background-color: #28a745; 
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    display: inline-block;  
    text-align: center;
    text-decoration: none;
}

.botonGuardar:hover {
    background-color: #218838;
}

.botonVerPerfiles:hover {
    background-color: #218838;
}

/* Adaptación para Tabletas */
@media (max-width: 1024px) and (min-width: 600px) {
    .personal-info {
       /* flex-direction: column;*/
        display: flex;
        gap: 20px;
        flex-wrap: wrap; 
    }
    :root {
        font-size: 15px; 
    }
    .container {
        padding: 15px; 
    }
}

/* Adaptación para Móviles*/
@media (max-width: 768px) {
    .container {
        padding: 15px; 
    }
    .personal-info {
        flex-direction: column; 
        gap: 15px;
    }
    h1 {
        font-size: 1.7rem; 
    }
    
    button {
        padding: 0.75rem; 
        font-size: 1rem;
    }
}



